html {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px 'Varela', sans-serif;
  background-image: url(../stylesheets/assets/images/day-sky.jpg);
}

body.dark {


}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
  padding-top: 50px;
}

#home-page-title {
  font: 55px 'Indie Flower', cursive;
}

.display-table {
  text-align: center;
}

.delete-button {
  color: red;
  font-family: 'Black Ops One', cursive;
}

@media only screen and (min-width: 768px) {




  
}




/*
font-family: 'Amatic SC', cursive; (handwirtten magazine cover)
font-family: 'Indie Flower', cursive; (handwritten printed out)
font-family: 'Livvic', sans-serif; (clean, slight curves)
font-family: 'Open Sans', sans-serif; (clean, more straight)
font-family: 'Varela', sans-serif; (clean, minimalist)
font-family: 'Press Start 2P', cursive; (video game)
font-family: 'Trade Winds', cursive; (movie poster title)
font-family: 'Black Ops One', cursive; (military)
*/