@media only screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: auto auto;
  }

  h1 {
    grid-column: span 2;
  }

  #basic-info-section {
    grid-column: span 2;
  }
}

#basic-info-section {
  margin: 20px auto 60px auto;
  text-align: center;
}

.show-button {
  margin: 10px;
}

#seat-section {
  margin: 20px auto 60px auto;
  text-align: center;
}

#ticket-table {
  margin: 5px auto;
}

#meal-section {
  margin: 20px auto 60px auto;
  text-align: center;
}

.meal-paragraph {
text-align: center;
}
